---
layout: nil
---

/*
  Theme for {{ site.name }} ({{ site.url }})
  derived from "Slate Theme for Github Pages" by Jason Costello, @jsncostello
*/

@import url(pygment_trac.css);

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/* basic styles */
body {
  box-sizing: border-box;
  color:{{ site.colors.dark }};
  background: {{ site.colors.dark }};
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:{{ site.colors.shadow }};
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
  line-height: 1.2;
}

h1 {
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  background: url('../images/bg_hr.png') repeat-x bottom;
  line-height: 1.5;
}

h1-sub {
  font-weight: 300;
  position: relative;
  top: -15px;
  margin-bottom: -15px;
  line-height: 1.2;
}

h2 {
  padding-bottom: 10px;
  font-size: 24px;
}

h2-sub {
  font-weight: 300;
  position: relative;
  top: -15px;
  margin-bottom: -15px;
  line-height: 1.2;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

p {
  margin-top: 10px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: {{ site.colors.primary }};
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
}

a:hover {
  color: {{ site.colors.primary }};
  text-shadow: {{ site.colors.primary_shadow }} 0px 0px 2px;
  
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  padding: 5px;
  background: {{ site.colors.light }};
  box-shadow: 0 0 10px {{ site.colors.shadow }};
}

#embedded {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  padding: 5px;
  background: {{ site.colors.light }};
  box-shadow: 0 0 10px {{ site.colors.shadow }};
}

pre, code {
  background-color: {{ site.colors.light }};

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  padding: 10px;
  box-shadow: 0 0 10px {{ site.colors.shadow }};
  overflow: auto;
}

code {
  margin: 0 1px;
}

pre code {
  display: block;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid {{ site.colors.shadow }};
}

ul, ol, dl {
  margin-bottom: 15px
}

ul li {
  list-style: inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid {{ site.colors.shadow }};
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: {{ site.colors.shadow }};
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid {{ site.colors.shadow }};
 }

form {
  background: {{ site.colors.light }};
  padding: 20px;
}

/* structural helpers */
.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 1000px;
  padding: 20px 10px;
  margin: 0 auto;
}

/* header */
#header_wrap {
  background: {{ site.colors.dark }};
  background: -moz-linear-gradient(top, {{ site.colors.shadow }}, {{ site.colors.dark }});
  background: -webkit-linear-gradient(top, {{ site.colors.shadow }}, {{ site.colors.dark }});
  background: -ms-linear-gradient(top, {{ site.colors.shadow }}, {{ site.colors.dark }});
  background: -o-linear-gradient(top, {{ site.colors.shadow }}, {{ site.colors.dark }});
  background: linear-gradient(top, {{ site.colors.shadow }}, {{ site.colors.dark }});
}

#header_wrap .inner {
  padding: 30px 10px 30px 10px;
}

header h1 {
  margin: 0;
  color: {{ site.colors.light }};
  font-size: 42px;
  font-weight: 700;
  background: none;
  text-shadow: {{ site.colors.shadow }} 0px 0px 10px;
}

header h2 {
  color: {{ site.colors.light }};
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: {{ site.colors.shadow }} 0px 0px 10px;
}

header a {
  color: {{ site.colors.light }};
}

/* main content */
#main_content_wrap {
  background: {{ site.colors.light }};
  border-top: 1px solid {{ site.colors.shadow }};
  border-bottom: 1px solid {{ site.colors.shadow }};
}

/* post listing */
#posts_listing img {
  max-height: 150px;
  max-width: 150px;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#posts_listing hr {
  clear:left;
}

#posts_listing p {
  margin-top: 0px;
  margin-bottom: 10px;
}

/* sidebar */
#sidebar {
  float: right;
  position: relative;
  top: -50px;
  z-index: 10;
  width: 200px;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
  margin-bottom: -40px;
  background: {{ site.colors.primary }};
  box-shadow: 0 0 10px {{ site.colors.shadow }};
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 15px;
  line-height: 1.2;
}

#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6 {
  margin: 0;
  color: {{ site.colors.light }};
}

#sidebar h1 {
  padding-bottom: 0px;
  font-size: 24px;
  background: none;
}

#sidebar img {
  float: left;
  margin: 5px;
  padding: 2px;
}

#sidebar p {
  color: {{ site.colors.light }};
  margin-top: 5px;
  margin-bottom: 5px;
}

#sidebar a {
  color: {{ site.colors.secondary }}; 
}

#sidebar a:hover {
  color: {{ site.colors.secondary }};
  text-shadow: {{ site.colors.secondary_shadow }} 0px 0px 2px;
}

/* contact */
#sidebar #contact {
  margin: 0 auto;
  text-align: center;
}

#sidebar #contact img {
  display: inline;
  float: none;
  margin: 5px;
  padding: 1px;
  background: {{ site.colors.light }};
  box-shadow: 0 0 10px {{ site.colors.shadow }};
}

#sidebar #contact img:hover {
  box-shadow: 0 0 10px {{ site.colors.secondary_shadow }};
}

/* footer */
#footer_wrap {
  background: {{ site.colors.dark }};
  clear: both;
}

footer p {
  color: {{ site.colors.light }};
}

/* adaptation to small screens */

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
  
  header h1 {
    font-size: 32px;
  }
  
  header h2 {
    display:none;
  }
  
  #sidebar {
    width: 40%;
  }
}
