<div id="posts_listing">
{% for post in site.posts limit: 5 %}
	{% if post.img %}
<img src="{{ post.img }}"/> 
	{% endif %}
<h2><a href="{{ post.url }}"> {{ post.title }} </a></h2>
<h2-sub> {{ post.date | date_to_string }} </h2-sub>
	{% if post.summary %}	
<p>{{ post.summary | strip_html | truncatewords: 75 }} 
	{% else %}
<p>{{ post.content | strip_html | truncatewords: 75 }}
	{% endif %}
<a href="{{ post.url }}">read more.</a></p>
	{% unless forloop.last %}
<hr>
	{% endunless %}
{% endfor %}
</div>