<h1>About</h1>
<img src="http://www.gravatar.com/avatar/{{ site.gravatar }}?s=50.png" height="50px"/>
<p>My name is Clodéric Mars, I'm a sofware engineer specialized in AI for simulations and games. I previously worked at <a href="http://www.golaem.com">Golaem</a> and I joined <a href="http://www.masagroup.net">Masa</a> in 2012. This is a place where I irregularely post vaguely interesting stuffs about my professional interests, enjoy !</p>
<hr>
<h1>Contact</h1>
<a href="mailto:{{ site.mail }}">Mail</a><br>
<a href="https://www.twitter.com/clodericmars">Twitter</a><br>
<a href="http://www.linkedin.com/in/clodericmars">LinkedIn</a><br>
<a href="https://github.com/cloderic/">GitHub</a><br>
<hr>
<h1>Site</h1>
<a href="{{ site.url }}">Home</a><br>
<a href="{{ site.url }}blog#archives">Archives</a><br>

