<h1>About</h1>
<img src="http://www.gravatar.com/avatar/{{ site.gravatar }}?s=45.png" height="45px"/>
<p>My name is Clodéric Mars, I'm a sofware engineer specialized in AI for simulations and games. I previously worked at <a href="http://www.golaem.com">Golaem</a> and I joined <a href="http://www.masagroup.net">Masa</a> in 2012. This is a place where I irregularely post vaguely interesting stuffs about my professional interests.</p>
<div id="contact">
	<a href="https://www.twitter.com/clodericmars"><img src="{{ site.url }}/images/icons/twitter.png" height="24px"/></a>
	<a href="http://www.linkedin.com/in/clodericmars"><img src="{{ site.url }}/images/icons/linkedin.png" height="24px"/></a>
	<a href="https://github.com/cloderic/"><img src="{{ site.url }}/images/icons/github.png" height="24px"/></a>
</div>
<hr>
<h1>Site</h1>
<a href="{{ site.url }}/">Home</a><br>
<a href="{{ site.url }}/blog#archives">Archives</a><br>
<a href="{{ site.url }}/pages/group-navigation-state-of-the-art-report.html">Group Navigation</a><br>
