<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="description" content="{{ site.name }}" />
{% if page.title %}
    <title>{{ site.name }} - {{ page.title }}</title>
{% else %}
    <title>{{ site.name }}</title>
{% endif %}
    <!-- google analytics script -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3838411-6']);
      _gaq.push(['_setDomainName', 'crowdscontrol.net']);
      _gaq.push(['_trackPageview']);
    
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>