---
layout: default
comments: true
---

{% assign next_post = page.next %}
{% assign previous_post = page.previous %}

<h1>{{ page.title }}</h1>
<h1-sub>
	{{ page.date | date_to_long_string }}
	{% if next_post %}
		// <a href="{{ next_post.url }}" rel="next" title="{{ next_post.title }}">next</a>
	{% endif %}
	{% if previous_post %}
		// <a href="{{ previous_post.url }}" rel="previous" title="{{ previous_post.title }}">previous</a>
	{% endif %}
		// <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">reaching for Disqus...</a>
</h1-sub>

{{ content }}

<hr>
<h2>Related Posts</h2>
{% for post in site.related_posts limit:3 %}
	{% assign level = 3 %}
	{% assign short = false %}
	{% include post_excerpt.html %}
{% endfor %}

{% if page.comments %}
<hr>
<div id="disqus_thread"></div>
<script type="text/javascript">
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
{% endif %}
